* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
.bg {
  background: #fff;
  mix-blend-mode: darken;
}

header {
  width: 86%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem 2rem;
  transition: 0.2s linear;
  z-index: 1000;
}

.main-navbar {
  font-size: 1.8rem;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: 500;
}

header .logo {
  color: #77acf1;
  font-size: 3rem;
  text-shadow: 0 0.1rem 0.2rem rgb(108, 194, 228);
}
header .navbar ul li a {
  font-size: 3rem;
  color: #333;
  transition: 0.2s linear;
}
.heading {
  color: #d6e6f2;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 10rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.heading span {
  color: #77acf1;
}
.topp {
  background: url(../img/back.jpg), linear-gradient(#77acf1, #8b8787) no-repeat;
  background-size: cover;
  background-position: center;

  background-blend-mode: multiply;
}

.topp hr {
  margin: auto;
  height: 0.2rem;
  width: 86%;
  background-color: #77acf1;
  z-index: 2000;
}
#Sikkim{
  padding-top: 10rem;
  background-color: #f7fbfc;
}

.place {
  min-height: 100vh;
  padding-top: 20rem;
}
.place .row {
  display: flex;
 
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  flex-flow: row;
}


.place .row .content h3 {
  font-weight: 500;
  margin-left: 5rem;
  font-size: 5rem;
  text-shadow: 0 0.2rem 0.35rem #8b8787;
  color: #77acf1;
  padding-left: 5rem;
  border-left: 0.3rem solid #b9d7ea;
}

.place .row .content p {
  margin-left: 5rem;
  font-size: 1.8rem;
  color: #687788;
  padding-left: 2rem;
  border-left: 0.3rem solid #b9d7ea;
}
#Meghalaya, #Arunachal{
  background-color: #d6e6f2;
}

/*==footer ==*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: rgb(31, 71, 109);
}

.footer .credit {
  font-size: 2rem;
  color: #eee;
}

.footer .credit span {
  color: #77acf1;
}

.footer .icons a {
  font-size: 2rem;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  border: 0.2rem solid #fff;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  background: #77acf1;
}

/*Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
