* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*== Header & Navbar==*/
.bg {
  background: #fff;
  mix-blend-mode: darken;
}

header {
  width: 86%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem 2rem;
  transition: 0.2s linear;
  z-index: 1000;
}

.main-navbar {
  font-size: 1.8rem;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: 500;
}

header .logo {
  color: #333;
  font-size: 3rem;
  text-shadow: 0 0.1rem 0.2rem rgb(108, 194, 228);
}


/*== End Header & Navbar==*/

/*== Home Section==*/
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 2rem 10rem;
}

.home .video video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content {
  margin-top: 7rem;
}

.home .content h1 {
  font-size: 5.1vw;
  color: #fff;
  text-shadow: 0 0.2rem 0.35rem #000;
}

.home .content p {
  font-size: 1.8vw;
  color: #eee;
  text-shadow: 0 0.2rem 0.35rem #000;
  padding-left: 2rem;
  border-left: 0.3rem solid #ddd;
}
/*==End Home Section==*/

/*== Feature Section==*/

.heading {
  color: #333;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 10rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.heading span {
  color: #77acf1;
}

.feature {
  min-height: 100vh;
  background: #d6e6f2;
}

.feature .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.feature .card-container .card {
  width: 30rem;
  margin: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.feature .card-container .card img {
  height: 25rem;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.feature .card-container .content {
  padding-bottom: 2rem;
  text-align: center;
}

.feature .card-container .content .title {
  color: #77acf1;
  font-size: 3rem;
}

.feature .card-container .content p {
  color: #333;
  font-size: 1.3rem;
  padding: 1rem;
}

.feature .btn,
.gallery .btn,
.about .row .content .btn {
  font-size: 1.7rem;
  margin-top: 1.4rem;
  height: 3.5rem;
  width: 12rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: #77acf1;
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear;
}

.feature .btn:hover,
.gallery .btn:hover,
.about .row .content .btn:hover {
  background: none;
  border: 0.2rem solid #77acf1;
  color: #77acf1;
}

/*--About Section--*/
.about {
  min-height: 100vh;
  background: url(../img/back.jpg), linear-gradient(#77acf1, #8b8787) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  flex-flow: row;
}

.about .row .image img {
  height: 52vh;
  width: 40vw;
  border-radius: 10px;
}

.about .row .content h3 {
  font-weight: 500;
  margin-left: 13px;
  font-size: 4rem;
  color: #f7fbfc;
}

.about .row .content p {
  margin-left: 13px;
  font-size: 1.9rem;
  color: #b9d7ea;
}
/*==Gallery Section==*/
.gallery {
  min-height: 100vh;
  background: #d6e6f2;
}
.gallery .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.gallery .box-container .box {
  height: 20rem;
  width: 30rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.15rem 0.3rem #333;
  align-items: flex-end;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box .icons {
  position: absolute;
  top: 120%;
  left: 0;
  background: linear-gradient(transparent, #333);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.gallery .box-container .box:hover .icons {
  opacity: 1;
  top: 0;
}
.gallery .box-container .box .icons a {
  color: #fff;
  text-shadow: 0 0.1rem 0.3rem #000;
  font-size: 2rem;
  padding-top: 1rem;
  margin-left: 85%;
}
.gallery .box-container .box .icons .name {
  margin-top: 12rem;
}
.gallery .box-container .box .icons .name a {
  color: #fff;
  text-shadow: 0 0.1rem 0.3rem #000;
  font-size: 3rem;

  margin-left: 1rem;
}

.gallery .box-container .box .icons a:hover {
  color: #77acf1;
}

/*==Contact==*/
.contact {
  background-color: #b9d7ea;
  min-height: 90vh;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact .row .contact-info .box {
  margin: 0rem 2rem;
}

.contact .row .contact-info .box h3 {
  font-size: 2rem;
  color: #77acf1;
}

.contact .row .contact-info .box h3 i {
  color: #77acf1;
}

.contact .row .contact-info .box p {
  padding-left: 3rem;
  font-size: 1.7rem;
  color: #222;
}

.contact .row .contact-form-container {
  width: 50%;
}

.contact .row .contact-form-container h3 {
  font-size: 4rem;
  padding-top: 1rem;
  color: #77acf1;
}

.contact .row .contact-form-container .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row .contact-form-container .inputBox input {
  width: 49%;
}

.contact .row .contact-form-container form input,
textarea {
  outline: none;
  border: 0.2rem solid #77acf1;
  height: 4rem;
  background: #fff;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.8rem;
}

.contact .row .contact-form-container form textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  height: 20%;
}

.contact .row .contact-form-container form input[type="submit"] {
  color: #77acf1;
  border: 0.2rem solid #77acf1;
  cursor: pointer;
  transition: 0.2s;
  width: 20rem;
}

.contact .row .contact-form-container form input[type="submit"]:hover {
  color: #fff;
  background: #77acf1;
}
/*==footer ==*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: rgb(31, 71, 109);
}

.footer .credit {
  font-size: 2rem;
  color: #eee;
}

.footer .credit span {
  color: #77acf1;
}

.footer .icons a {
  font-size: 2rem;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  border: 0.2rem solid #fff;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  background: #77acf1;
}
